html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Titledescription {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  flex-direction: row; 
  margin-left: 50px;
}

.text-on-image{
  display:flex;
  justify-content:center;
}